/* Size for brand */


body {
    background-color: #444;
    color: #e4a11b;

}

h2 {
    font-weight: bold;
    color: #e4a11b;


}

.navbar-brand .icon {
    margin-top: -7px;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: bold;
}
.nav-link {
    font-weight: bold;
}

.container {
    background-color: #222;
    border-radius: 10px;
    min-height: 600px;
}



table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
    font-weight: bold; /* Make the text bold */
    font-size: 1.2em;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}
